@model IEnumerable<KeyMaas.Models.Key>

@{
    ViewBag.Title = "KeyMaas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Key List</h2>

<p>
    @Html.ActionLink("Add Key", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonID)
        </th>
      <th>
        @Html.DisplayNameFor(model => model.Illuminated)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.State)
      </th>
        <th>
            @Html.DisplayNameFor(model => model.Updated)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
  <tr>
    <td>
      @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
      @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td>
      @Html.DisplayFor(modelItem => item.PersonID)
    </td>
    <td>
      @Html.DisplayFor(modelItem => item.Illuminated)
    </td>
    <td>
      @Html.DisplayFor(modelItem => item.State)
    </td>
    <td>
      @Html.DisplayFor(modelItem => item.Updated)
    </td>
    <td>
      @Html.ActionLink("Edit", "Edit", new {id = item.ID}) |
      @Html.ActionLink("Delete", "Delete", new {id = item.ID})
    </td>
  </tr>
}

</table>
